/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
header{
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);

}
body{
    font-family:'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #212121;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    padding-top: 12px;

}
.header__logo{
    margin-right: 96px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 40px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link{
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    color: #004F9E;
}

/*
  Форма регистрации
*/
.reg{
    padding-top: 120px;
}
.reg__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #212121;
    margin-bottom: 48px;
}
.reg__first-group{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.reg__second-group{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.reg__surname, .reg__name {
    margin-bottom: 1rem;
    margin-right: 40px;
}
.reg__patronymic{
    margin-bottom: 1rem;
}
.reg__street, .reg__house, .reg__building {
    margin-bottom: 1rem;
    margin-right: 40px;
}
.reg__flat{
    margin-bottom: 1rem;
}

.reg__form-label-first-group, .reg__form-label-second-group{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.reg__form-input-first-group{
    width: 352px;
    height: 48px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.reg__form-input-first-group::placeholder,.reg__form-input-second-group-street::placeholder, .reg__form-input-second-group::placeholder {
    color: #212529;
    opacity: 0.4;
}

.reg__form-input-first-group:focus ,.reg__form-input-second-group-street:focus, .reg__form-input-second-group:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.reg__form-input-second-group{
    width: 192px;
    height: 48px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.reg__form-input-second-group-street{
    width: 440px;
    height: 48px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reg__submit{
    padding: 16px 75px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #004F9E;
    border: 0;
    border-radius: 4px;
}
.reg__submit:hover, .reg__submit:focus, .reg__submit:active{
    background: #033c74;
}

/*
    Форма авторизации
*/
.auth{
    padding-top: 180px;
}
.auth__wrapper{
    max-width: 380px;
    margin: 0 auto;
}
.auth__form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.auth__pic{
    margin-bottom: 40px;
}
.auth__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    color: #212121;
    margin-bottom: 44px;
}
.auth__input{
    width: 380px;
    height: 52px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 24px;
}
.auth__submit{
    padding: 16px 162px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #004F9E;
    border: 0;
    border-radius: 4px;
    margin-bottom: 24px;
}
.auth__ref{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #004F9E;
}
