<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/styles1.css}">
</head>
<body>


<main class="auth" >
    <div class="auth__wrapper">
        <form class="auth__form" th:action="@{/app/auth}" method="post">
            <img src="/img/authLogo.svg" alt="ЦЭТ" class="auth__pic">
            <h1 class="auth__title">Вход в личный кабинет</h1>
            <input type="text" name="username" id="username" placeholder="Электронная почта" class="auth__input">
            <input type="password" name="password" id="password" placeholder="Пароль" class="auth__input">
            <a href="#!" class="auth__ref">Сбросить пароль</a>
            <button class="auth__submit">Войти</button>
            <a href="/app/reg" class="auth__ref">Зарегистрироваться</a>
        </form>
    </div>
</main>
</body>
</html>