<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявки</title>
    <link rel="stylesheet" href=""  th:href="@{/css/reset.css}">
    <link rel="stylesheet" href="" th:href="@{/css/styles1.css}">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <main class="reg">
        <div class="wrapper">
            <h1 class="reg__title">
                Заявки
            </h1>
    <form  enctype="multipart/form-data" class="reg__form" th:action="@{/app/requests}" method="post">
        <div th:each="el : ${user}">
        <div class="reg__second-group_R">
            <div class="reg__surname">
                <label for="street" class="reg__form-label-first-group">Улица</label>
                <input type="text"  required class="reg__form-input-first-group" id="street" th:value="${el.street}" disabled>
            </div>
            <div class="reg__name">
                <label for="house" class="reg__form-label-first-group">Дом</label>
                <input type="text" name="house" required class="reg__form-input-first-group_D" id="house" th:value="${el.house}" disabled >
            </div>
            <div class="reg__name">
                <label for="building" class="reg__form-label-first-group">Корпус</label>
                <input type="text" name="building" required class="reg__form-input-first-group_D" id="building"  th:value="${el.building}" disabled >
            </div>
            <div class="reg__patronymic">
                <label for="apartment" class="reg__form-label-first-group">Квартира</label>
                <input type="text" name="apartment" required class="reg__form-input-first-group_D" id="apartment" th:value="${el.apartment}"  disabled>
            </div>
        </div>     
        <div class="reg__second-group_R">
            <div class="reg__street">
                <label for="lastname" class="reg__form-label-second-group">Фамилия</label>
                <input type="text" name="lastName" required class="reg__form-input-first-group" id="lastName" th:value="${el.lastName}" disabled >
            </div>
            <div class="reg__house">
                <label for="firstname" class="reg__form-label-second-group">Имя</label>
                <input type="text" name="firstname" required class="reg__form-input-first-group" id="firstname" th:value="${el.firstname}" disabled >
            </div>
            <div class="reg__building">
                <label for="patronymic" class="reg__form-label-second-group">Отчество</label>
                <input type="text" name="patronymic" class="reg__form-input-first-group" id="patronymic" th:value="${el.patronymic}" disabled >
            </div>
        </div>   
        <div class="reg__second-group_R">
            <div class="reg__house">
                <label for="username" class="reg__form-label-second-group">Почта</label>
                <input type="text" name="username" required class="reg__form-input-first-group_K" id="username" th:value="${el.username}" disabled >
            </div>
        </div>  
        <div class="reg__first-group">
            <div class="reg__mail">
                <label for="topic" class="reg__form-label-first-group">Обращение</label>
                <input type="text" name="topic" required class="reg__form-input-first-group_K" id="topic" placeholder="Тема" >
            </div>
        </div> 
        <div class="reg__first-group_">
            <div class="reg__mail">
                <label for="textAppeal" class="reg__form-label-first-group">Ваше сообщение</label>
                <input type="text" name="textAppeal" required class="reg__form-input-first-group_request" id="textAppeal" placeholder="Текст обращения" >
            </div>
        </div>

            <label for="fileUpload"></label>
            <input name="fileUpload" type="file" id="fileUpload">

        <button type="submit" class="reg__submit">Отправить</button>
        </div>
    </form>
        </div>
    </main>
</body>
</html>